.box {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
.name {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}
.name span {
  margin-left: 15%;
  font-size: 1.5em;
}

.currencyBox {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.currency {
  display: flex;
  flex-direction: row;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.currencyBox span {
  font-size: 1.5em;
  margin: 0 5px;
}
@media all and (max-width: 1380px) {
  .name {
    font-size: 0.7em;
  }
  .currencyBox {
    font-size: 0.7em;
  }
}
@media all and (max-width: 900px) {
  .currencyBox {
    font-size: 0.4em;
  }
}
